<header
  class="mx-auto mt-4 flex w-full w-sm items-center justify-center text-base xl:w-[1120px]"
>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#experiencia" class="text-[#f0f1f4] transition hover:text-white"
      >Experiencia</a
    >
    <a href="#proyectos" class="text-[#f0f1f4] transition hover:text-white"
      >Proyectos</a
    >
    <a href="#contacto" class="text-[#f0f1f4] transition hover:text-white"
      >Contacto</a
    >
  </nav>
</header>
