---
import ArrowUpIcon from "./icons/ArrowUpIcon.astro";
---

<button
  id="scrollToTopBtn"
  class="pointer-events-none fixed right-6 bottom-6 translate-y-4 transform cursor-pointer rounded-full bg-[#7171a8] p-3 text-white opacity-0 shadow-lg transition duration-300 hover:bg-[#61619e]"
>
  <ArrowUpIcon class="size-8 md:size-8" />
</button>

<script>
  const btn = document.getElementById("scrollToTopBtn");

  if (btn) {
    window.addEventListener("scroll", () => {
      if (window.scrollY > 200) {
        btn.classList.remove(
          "opacity-0",
          "pointer-events-none",
          "translate-y-4"
        );
        btn.classList.add("opacity-100", "translate-y-0");
      } else {
        btn.classList.remove("opacity-100", "translate-y-0");
        btn.classList.add("opacity-0", "pointer-events-none", "translate-y-4");
      }
    });

    btn.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  }
</script>
